@model IEnumerable<Havoc_And_Haven.Models.Location>

<h1>Locations</h1>

<p>
    <a asp-action="Create">Create </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Location location in Model)
        {
            <tr>
                <td>
                    @location.Type
                </td>
                <td>
                    @location.Neighborhood
                </td>
                <td>
                    @location.Address
                </td>
                <td>
                    @location.Description
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@location.LocationId">Edit</a>

                    <form asp-action="DeleteLocationConfirmed" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@location.LocationId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
