@model IEnumerable<Location>
<h1>All Locations</h1>
<!-- Must add authorization for create/edit/delete options-->
<table class="table">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (Location location in Model)
		{
			<tr>
				<td>@location.Type</td>
				<td>@location.Neighborhood</td>
				<td>@location.Address</td>
				<td>@location.Description</td>
				<!-- The notes-->
				<td> <!--Only for villains and admin-->
					<!-- Not working currently, needs to route to battle/create action/view-->
					<a asp-action="Create" asp-route-id="@location.LocationId">Start a Battle</a> |
				</td>
				<td>
					<!--Only for hero and admin to see-->
					<!-- Respond is a potential action for the heroes to add themselves to the battle-->
					<a asp-action="Respond" asp-route-id="@location.LocationId">Create a Crisis Event</a> |
				</td>
			</tr>

		}
	</tbody>
</table>
