<!--Visible to only the villains and admin (Add routes for create and edit actions for admin)-->
@model IEnumerable<Lair>
<h1>Villain Lairs</h1>
<table class="table">
	<thead>
		<tr>
			<th>Base Title</th>
			<th>Capacity</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Lair lair in Model)
		{
			<tr>
				<td>@lair.BaseTitle</td>
				<td>@lair.Capacity</td>
				<td>@lair.Description</td>
				<td>
					<a href="@Url.Action("Edit", "Lair", new { id = lair.LairId })" class="btn btn-warning">Edit</a>

					<form asp-action="DeleteLairConfirmed" method="post" style="display:inline;">
						<input type="hidden" name="id" value="@lair.LairId" />
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
				@* <td>@lair.Location.Address</td> *@
				@* <td>@lair.Location.Type</td> *@
			<!-- Here villains should be able to select a lair to join (This will need logic)-->
			</tr>
		}
	</tbody>
</table>
<a href="@Url.Action("Create", "Lair")" class="btn btn-primary">Add Lair</a>
