@model IEnumerable<Battle>
<h1>Battle Index</h1>
<table class="table">
	<thead>
		<tr>
			<th>Battle ID</th>
			<th>Heroes Involved</th>
			<th>Villains Involved</th>
			<th>Location Address</th>
			<th>Time of Battle</th>
			<th>Event Description</th>
			<th>Outcome</th> <!--If Null return default message-->
		</tr>
	</thead>
	<tbody>
		@foreach (Battle battle in Model)
		{
			<tr>
				<td>@battle.BattleId</td>
				<td>
					<ul>
						@foreach (User hero in battle.CrisisEvent.Heroes)
						{
							<li>@hero.Alias</li>
						}
					</ul>
				</td>
				<td>
					<ul>
						@foreach (User villain in battle.CrisisEvent.Villains)
						{
							<li>@villain.Alias</li>
						}
					</ul>
				</td>
				<td>@battle.CrisisEvent.Location.Type</td>
				<td>@battle.IncidentBegan</td>
				<td>@battle.CrisisEvent.Title</td>
				<td>
					@battle.Winner ?? "Battle Not Completed."
				</td>
				<!--  Will want to add actions here for only the heroes (or admin) to Add Heroes to the Heroes List (ideally from a dropdown menu inside this view) and "Start Battle" which is actually creating a crisis event-->
				<!--Villains are populating their list upon battle creation ** Villains should have a create battle button-->
			</tr>
		}
	</tbody>
